<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form accept-charset="UTF-8" action="/sessions" data-remote="true" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" id="username" name="username" type="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" id="password" name="password" type="password">
  </div>
  <input class="btn btn-secondary" name="commit" type="submit" value="Login">
</form>