<h1>Welcome to my App</h1>

<button type="button" class="btn btn-secondary btn-lg"><a href="/sessions/new">Log In </a></button>
    
<button type="button" class="btn btn-success btn-lg"> <a href="/users/new">Sign Up </a></button> 

